<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pizza form</title>
</head>
<body>
<h2>Pizza lomake</h2>
<form action="#" th:action="@{/luopizza}" th:object=${pizza}
		method="post">

		<p>
			Id: <input type="hidden" th:field="${pizza.id}" />
		</p>
		<p>
			Nimi: <input type="text" th:field="${pizza.nimi}" />
		</p>
		<p>
			Hinta: <input type="text" th:field="${pizza.hinta}" />
		</p>
		<div>
				<label for="pohList">Pohja</label> <select id="pohlist"
			th:field="*{pohja}" class="form-control">
			<option 
				th:each="pohja: ${pohjat}"
				th:value="${pohja.id}" 
				th:text="${pohja.nimi}"></option>
		</select>
		</div>
		<div>
		<label for="aList">Täyte 1</label> <select id="alist"
			th:field="*{aines}" class="form-control">
			<option 
				th:each="aines: ${ainekset}"
				th:value="${aines.id}" 
				th:text="${aines.nimi}"></option>
		</select>
</div>
		<div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" value="Submit" /> <input type="reset"
			value="Reset" /> <a href="/pizzas">Back</a>
		</form>
</body>
</html>