<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pizza form</title>
</head>
<body>
	<h2>Pizza lomake</h2>
	<form action="#" th:action="@{/luopizza}" th:object=${pizza}
		method="post">
		<table>
			<tr>
				<td>Id: <input type="hidden" th:field="*{id}" /></td>
			</tr>
			<tr>
				<td>Nimi: <input type="text" th:field="*{nimi}" /></td>
				<td th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">Error</td>
			</tr>
			<tr>
				<td>Hinta: <input type="text" th:field="${pizza.hinta}" /></td>
				<td th:if="${#fields.hasErrors('hinta')}" th:errors="*{hinta}">Error</td>				
			</tr>
			<tr>
				<label for="pohList">Pohja</label>
				<select id="pohlist" th:field="*{pohja}" class="form-control">
					<option th:each="pohja: ${pohjat}" th:value="${pohja.id}"
						th:text="${pohja.nimi}"></option>
				</select>
			</tr>
			<tr>
				<label for="aList">Täyte 1</label>
				<select id="alist" th:field="*{aines}" class="form-control">
					<option th:each="aines: ${ainekset}" th:value="${aines.id}"
						th:text="${aines.nimi}"></option>
				</select>
			</tr>
		</table>
		<div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" value="Submit" /> <input type="reset"
			value="Reset" /> <a href="/pizzas">Back</a>
	</form>
</body>
</html>